@model List<BookViewModel>
@{
    ViewData["Title"] = "Book List";
}

<div class="text-center">
    @foreach(BookViewModel book in Model){
        <h1 class="display-4">@book.Title</h1>
        <img src="@book.CoverPhotoUrl" alt="Book Cover Image">
        <p>@book.Genre</p>
        <p>@book.YearPublished</p>
    }
</div>